* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.vk-pic {
    background: url("/Level_2/Task_2/vk-bg.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#title {
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin: 0px 100px 0px 100px;
    padding: 20px;
    background-color: #fff;
}

.vk-name1 {
    padding-top: 100px;

}

.vk-name3 {
    color: grey;
    padding-left: 100px;
}

#title img {
    width: 200px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin: 0px 100px 0px 100px;
    background-color: #fff;
    border-top: 2px solid black;
}

.sec1 {
    padding: 10px;
}

.sec1{
    background-color: #e9e9e9;
}

.pi {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 5px;
    padding-bottom: 30px;
}

.pi-1, .ci1 {
    font-weight: bold;
    padding: 10px 0px 5px 0px;

}

.pi-2, .ci2 {
    padding: 10px 0px 5px 0px;

}
.ci{
    margin-top: 5px;
}
.ci-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    padding-bottom: 30px;
}

.sec2{
    padding: 5px 10px 5px 20px;
}
.bg{
    background-color: rgb(156, 157, 157);
}

.para{
    padding: 20px 80px 10px 0px;
}

footer{
    font-size: 20px;
    padding: 50px;
    text-align: center;
    background-color: rgb(156, 157, 157);
}