
* {
    margin: 0;
    padding: 0;
}

#title-bar {
    display: flex;
    justify-content: center;
    background-color: rgb(50, 40, 40);
}

#title-bar h2{
    
    align-content: center;
    padding: 20px;
    color: white;
}

#container-1{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

#mg-pic img{
    position: relative;
    width: 250px;
    height: 250px;
}

.intro{
    margin-left: 10px;
    padding: 5px;
}

.intro p{
    padding: 5px;
}

#container-2{
    margin-left: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    background-color: rgb(37, 22, 22);
    padding: 15px;
}