*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(350deg,rgb(98, 214, 98),rgb(88, 88, 222));
width: 100%;
height: 100vh;
}
.container1{
border: 1px solid black;
background-color: #fff;
max-width: 540px;
margin: 100px auto 20px;
padding: 20px 30px 70px;
/* transform: translate(50%,50%); */

/* height: 50vh; */
/* display: flex; */
align-items: center;
justify-content: center;

border-radius: 20px;
}